* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family : Helvetica;
}

body {
  background-color: #FFFAF0;
}

.site-header {                                        /* Header */
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFFAF0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1000;
    margin-bottom: 2rem;
}

.site-header .container {
    font-size : 1.2rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
}
.logo a {
    margin-right: auto;
    font-size: 1.8rem;
    font-weight: bold;
    color: #007D80;
    text-decoration: none;
}
.logo img {
    height: 40px;
}

.nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav a {
  margin-left: 2rem;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav a:hover {
  color: #7B1B38;
}

.btn-contact {
  background-color: #007D80;
  color: #FFFAF0 !important;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.8s;
  display: inline-block;
}

.btn-contact:hover {
  background-color: #09ccc2;
}
.content {                                                  /* Main Content */
  align-items : center;
}

.intro {
  text-align: center;
  background-color: #182727;
  color: #FFFAF0;
  padding: 2rem;
  font-size: 3rem;
  padding-top : 4rem;
  padding-bottom: 1.4rem;
  width : 100%
}
.intro span {
  color: #09ccc2;
}
.equipe-quinconce {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 3rem 2rem;
  max-width: 2000px;
  margin: auto;
  font-size: 3rem;
}


.ligne {
      display: flex;
      align-items: center;
      gap: 4rem;
}
.ligne .texte{
    background : white;
    padding-left : 3rem;
}

.ligne:nth-child(even) {
  flex-direction: row-reverse;
}
.image img {
      max-width: 40rem;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.site-footer {                                                   /* Footer */
    background-color: #182727;
    color: #FFFAF0;
    padding: 0rem 2rem 1rem 2rem;
    font-size : 1.4rem;
  }
  .reseaux{
    flex : 1;
  }
  .site-footer .container{
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2rem;
  }

  .footer-column {
    flex: 1;
    min-width: 250px;
    padding-top: 1rem;
    margin: 1rem 0;
  }

  .footer-logo {
    width: 120px;
    margin-bottom: 1rem;
  }

  .slogan {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    font-style: italic;
  }

  .social-icons a {
    margin-right: 0.5rem;
  }

  .social-icons img {
    width: 50px;
    height: 50px;
  }

  .footer-column h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .footer-column ul {
    list-style: none;
    padding: 0;
  }

  .footer-column ul li {
    margin-bottom: 0.5rem;
  }

  .footer-column ul li a {
    color: #FFFAF0;
    text-decoration: none;
    transition: color 0.3s;
  }

  .footer-column ul li {
    color: #FFFAF0;
  }

  .footer-column a{
    color: #FFFAF0;
    text-decoration: none;
  }

  .footer-column a:hover {
    color: #09ccc2;
  }
  .footer-bottom {
    text-align: center;
    margin-top: 2rem;
    border-top: 1px solid #2b252555;
    padding-top: 1rem;
    font-size: 0.8rem;
  }
  /* --- Responsive for laptop 15–17 --- */
@media (min-width: 768px) and (max-width: 1700px) {
  .intro {
    font-size: 2rem;
  }
    .image img {
        max-width : 25rem;
    }
  h3{
    font-size: 2rem;
  }
  .texte{
    padding: 2rem;
  }
  ul{
    font-size: 1.5rem;
  }
  .equipe-quinconce{
    max-width : 75%;
  }
    .site-footer{
        font-size : 1.2rem;
    }
}