
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFAF0;
}

.site-header {                                        /* Header */
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFFAF0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1000;
    margin-bottom: 2rem;
}

.site-header .container {
    font-size : 1.2rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
}
.logo a {
    margin-right: auto;
    font-size: 1.8rem;
    font-weight: bold;
    color: #007D80;
    text-decoration: none;
}
.logo img {
    height: 40px;
}

.nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav a {
  margin-left: 2rem;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav a:hover {
  color: #7B1B38;
}

.btn-contact {
  background-color: #007D80;
  color: #FFFAF0 !important;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-contact:hover {
  background-color: #09ccc2;
}

.content {                                                  /* Main Content */
  align-items : center;
}

.intro {
  text-align: center;
  background-color: #182727;
  color: #FFFAF0;
  padding: 2rem;
  font-size: 3rem;
  padding-top : 4rem;
  padding-bottom: 1.4rem;
  width : 100%
}

.intro span {
  color: #09ccc2;
}

.prestations {
  padding: 2rem 0;
  display: flex;
  flex-direction : column;
  align-items: center;
  margin: auto;
}

  h2 {
  color: #000000;
  font-size: 3rem;
  text-align: center;
}

.prestation {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  margin-bottom: 1.5rem;
  transition: all 0.3s ease;
  width : 60%;
}

.prestation h3 {
  font-size: 2.4rem;
  color: #332162;
  margin-bottom: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.texte-cache {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding-left: 2rem;
  font-size : 2rem;

}

.prestation.active .texte-cache {
  max-height: 100%;
}

.chevron {
  margin-top
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.prestation.active .chevron {
  transform: rotate(180deg);
}
.underline {
  width: 25%;
  height: 0.25rem;
  background-color: #c0392b;
  margin: 0.8rem auto 1.5rem auto;
  border-radius: 2px;
}
  .site-footer {                                           /* Footer */
    background-color: #182727;
    color: #FFFAF0;
    padding: 0rem 2rem 1rem 2rem;
    font-size : 1.4rem;
  }
  .reseaux{
    flex : 1;
  }
  .site-footer .container{
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2rem;
  }

  .footer-column {
    flex: 1;
    min-width: 250px;
    padding-top: 1rem;
    margin: 1rem 0;
  }

  .footer-logo {
    width: 120px;
    margin-bottom: 1rem;
  }

  .slogan {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    font-style: italic;
  }

  .social-icons a {
    margin-right: 0.5rem;
  }

  .social-icons img {
    width: 50px;
    height: 50px;
  }

  .footer-column h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .footer-column ul {
    list-style: none;
    padding: 0;
  }

  .footer-column ul li {
    margin-bottom: 0.5rem;
  }

  .footer-column ul li a {
    color: #FFFAF0;
    text-decoration: none;
    transition: color 0.3s;
  }

  .footer-column ul li {
    color: #FFFAF0;
  }

  .footer-column a{
    color: #FFFAF0;
    text-decoration: none;
  }

  .footer-column a:hover {
    color: #09ccc2;
  }
  .footer-bottom {
    text-align: center;
    margin-top: 2rem;
    border-top: 1px solid #2b252555;
    padding-top: 1rem;
    font-size: 0.8rem;
  }

@media (min-width: 768px) and (max-width: 1700px) {


}


@media (max-width: 768px) {
  .intro {
    font-size: 1.8rem;
    padding: 1rem;
  }

  .prestation h3 {
    font-size: 1.5rem;
  }

  .texte-cache {
    font-size: 0.95rem;
  }
}
